.resume-preview-container {
    background: #eff3f6;
    padding: 1rem;
    width: 100%;
}

.resume-preview {
    background: $white;
    border: 2px solid rgba($gray-color, .5);
    border-radius: $global-radius;
    // height: 600px;
}

.resume-container {
    height: 1100px;
    width: 850px;
    // width: 100%;

    iframe {
        background: $white;
        border: 2px solid $gray-color;
        width: 100%;
    }
}


.resume-preview-action-links {
    background: $primary-blue;
    border-radius: $global-radius;
    margin-bottom: 1rem;
    padding: 1rem;
    transform: translate(-.5rem, -.5rem);
    width: calc(100% + 1rem);

    .el-link {
        @include heading-font-bold;
        background: $secondary-orange;
        border-radius: 100px;
        font-size: .875rem;
        line-height: 1;
        padding: .5rem;

        &.el-link--success {
            color: $white;
        }
    }

    .el-icon-download {

    }

    .el-link--inner {

    }
}

.resume-preview-cell {
    // display: none;
}

.full-page-resume-preview {
    .resume-preview-container {
        @include breakpoint(medium down) {
            height: 100%;
            left: 0;
            overflow: auto;
            padding-bottom: 3rem;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 100;
        }
    }

    .resume-container {
        @include breakpoint(medium down) {
            // height: auto;
        }
    }
}
