.resume-step-heading-container {
    background: $primary-blue-100;
    border-radius: $global-radius;
    margin-bottom: 1rem;
    padding: .75rem;
}

.resume-step-heading {
    font-size: 1.5rem;
    line-height: 1rem;
    margin: 0;
    padding: 0;
}

.resume-step-form {
    background: $white;
    border-radius: $global-radius;
    box-shadow: 0 1px 3px rgba($off-black, .5);
    margin-bottom: 2rem;
    padding: .75rem;
}

.resume-form-nav-buttons {
    background: $white;
    border-top: 2px solid $white;
    display: flex;
    flex-flow: row nowrap;


    @include breakpoint(medium down) {
        bottom: 0;
        left: 0;
        position: fixed;
        width: 100%;
        z-index: 100;

        .button {

        }
    }

    .button {
        border-radius: 0;
        flex: 1 1 auto;
        font-size: 1rem;
        margin: 0;
        padding: .75rem;

        &.preview-button {
            background: $white;
            color: $black;

            @include breakpoint(medium) {
                display: none;
            }
        }

        &.back-button {
            background: $gray-color;
            color: $black;
            flex: 0 0 auto;
        }
    }

}
