.resume-steps-container {
    background: $white;
    margin-bottom: 2rem;
    overflow: hidden;
    padding-bottom: 2rem;
    width: 100%;

    @include breakpoint(medium) {
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
}

.el-step {
    cursor: pointer;
    flex: 0 0 auto;
    padding-top: .75rem;
    position: static;
}


.el-step__main {
    cursor: pointer;
    padding: .25rem .125rem;
}

.el-step__title {
    @include heading-font-regular;
    cursor: pointer;
    display: none;
    font-size: .875rem;
    left: 0;
    letter-spacing: .025em;
    line-height: 1.125;
    padding: .25rem 0;
    position: absolute;
    text-transform: uppercase;
    white-space: nowrap;
    width: 100%;

    &.is-finish {
        color: $black;
        display: block;
    }

    @include breakpoint(medium) {
        display: block;
        position: relative;
        white-space: pre;
    }
}

.el-step__head {
    padding: 0;
}

.el-step__icon {
    &.is-icon {
        width: auto;

        .el-step__icon-inner {
            @include breakpoint(medium) {
                font-size: 1.5rem;
            }
        }
    }
}
