ol,
ul {
  counter-reset: list-item;
  // margin-bottom: 2rem;

  li {
    // @include body-font-regular;
    font-size: 1.125rem;
    line-height: 1.25;
    margin-bottom: 0.75rem;

    &:last-of-type {
      margin-bottom: 0;
    }

    ol,
    ul {
      margin: 0.5rem 0;
    }

    li {
      font-size: 1rem;
    }

    @include breakpoint(large) {
      font-size: 1rem;
      line-height: 1.625;
    }

    @media print {
      font-size: 12pt;
      line-height: 1.25;
    }
  }
}

ul {
  list-style-type: square;

  ul {
    li {
      list-style-type: circle;
    }
  }
}

ol {
  list-style-type: decimal;

  &.list-type-lower-alpha {
    list-style-type: lower-alpha;
  }
}
