$heading-font: 'GothamPro';
// $body-font: 'FreighttextPro';
$body-font: 'Arial';

$heading-fallback: 'Helvetica', 'Helvetica Neue', 'Arial', sans-serif;
$body-fallback: 'Georgia', 'Times New Roman', serif;

$global-radius: 4px;
$font-size-multiplier: 1;

$border-width-styled: 4px;
$border-width-thin: 1px;
