@page {
    margin: 0px;
}

body {
    margin: 0px;
}

.resume-pdf {
    //@include body-font-regular;
    margin: 0;

    .print-paper {
        // height: 1100px;

        width: 100%;
    }

    .full-width-table {
        width: 100%;

        td {
            vertical-align: top;
        }
    }
}

.resume-html {
    height: 100%;

    .print-paper {
        height: 100%;
        width: 100%;
    }
}

.resume-html,
.resume-pdf   {
    
}

@media print {
    body.resume-pdf  * {
        visibility: hidden;
    }
    .print-paper, .print-paper * {
        visibility: visible;
    }
    .print-paper {
        position: absolute;
        left: 0;
        top: 0;
    }
}


.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

@font-face {
    font-family: 'OpenSans300';
    src: url('/assets/fonts/open-sans/Open-Sans-300.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans600';
    src: url('/assets/fonts/open-sans/Open-Sans-600.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans800';
    src: url('/assets/fonts/open-sans/Open-Sans-800.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
