$html-font-size-conversions: 1.0475;

@page {
  margin: 0px;
}

body {
  margin: 0px;
}

.resume-pdf {
  //@include body-font-regular;
  margin: 0;

  .print-paper {
    // height: 1100px;

    width: 100%;
  }

  .full-width-table {
    width: 100%;

    td {
      vertical-align: top;
    }
  }

  .page-break {
    page-break-after: always;
  }
}

.resume-html {
  height: 100%;
  margin: 0;

  .full-width-table {
    width: 100%;

    td {
      vertical-align: top;
    }
  }

  .print-paper {
    height: 100%;
    // width: 100%;
  }

  .page-break-after {
    background: #f3f5f3;
    padding: 2rem 0;
  }
}

.resume-html-page {
  .page-break-after {
    background: #f3f5f3;
    box-shadow: 77px 0 0 #f3f5f3, -77px 0 0 #f3f5f3;
    margin: 75px 0;
    padding: 2rem 0;
  }
}
.page-top{
  margin-top:75px;
}
.page-break-after {
  padding-top: 75px;
}

.resume-html,
.resume-pdf {
}

@media print {
  body.resume-pdf * {
    visibility: hidden;
  }
  .print-paper,
  .print-paper * {
    visibility: visible;
  }
  .print-paper {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

@font-face {
  font-family: 'OpenSans300';
  src: url('/assets/fonts/open-sans/Open-Sans-300.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans600';
  src: url('/assets/fonts/open-sans/Open-Sans-600.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans800';
  src: url('/assets/fonts/open-sans/Open-Sans-800.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

.bulletless-list {
  list-style: none;
  margin: 0;

  li {
    margin: 0;
  }
}
.vue-recycle-scroller__item-view {
  text-align: left;
}
