.resume-gold-standard {
    font-family: 'OpenSans300', sans-serif;

    p,
    li {
        line-height: 1.25;
    }

    .header-contact-info {
        td {
            padding: 2px 0;
            text-align: right;
        }

        .contact-info {
            font-size: 10pt;
            line-height: 10px;
            margin: 0;
        }
    }

    .print-paper {
        background-color: #fff;
        font-size: 12pt;
        font-weight: normal;
        left: 0;
        line-height: 16pt;
        padding: 75px;
        position: absolute;
        top: 0;
    }

    .resume-section {
        margin-bottom: 32px;
    }

    .resume-title {
        display: block;
        font-size: 24pt;
        font-weight: 400;
        margin: 0;
    }



    .section-heading {
        display: block;
        font-family: 'OpenSans600';
        font-size: 18pt;
        margin-bottom: 10px;
    }

    .section-title {
        display: block;
        font-family: 'OpenSans600';
        font-size: 14pt;
        margin-bottom: 4px;
    }

    .section-group {
        padding-bottom: 16px;
    }

    .section-summary {
        p,
        li {
            margin-bottom: 10px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        li {
            list-style: square;
        }
    }

    .work-experience-company {
        display: block;
    }

    .work-experience-description {
        font-size: 12pt;
    }

    .work-experience-description-list {
        margin-bottom: 0;
        margin-top: 10px;
    }
}
