.resume-gold-standard {
    font-family: 'Helvetica Neue', sans-serif;

    .print-paper {
        background-color: #fff;
        font-size: 12pt;
        line-height: 16pt;
        font-weight: normal;
        left: 0;
        padding: 50px;
        position: absolute;
        top: 0;
    }

    .resume-section {
        margin-bottom: 32px;
    }

    .resume-title {
        display: block;
        font-size: 24pt;
        font-weight: 400;
    }

    .contact-info {
        display: block;
        font-size: 10pt;
        text-align: right;
    }

    .section-heading {
        display: block;
        font-size: 18pt;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .section-title {
        display: block;
        font-size: 14pt;
        font-weight: 400;
        margin-bottom: 4px;
    }

    .section-group {
        padding-bottom: 16px;
    }

    .section-summary {
        p,
        li {
            margin-bottom: 10px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        li {
            list-style: square;
        }
    }

    .work-experience-company {
        display: block;
    }

    .work-experience-description {
        font-family: "Helvetica Neue", sans-serif;
        font-size: 12pt;
    }

    .work-experience-description-list {
        margin-bottom: 0;
        margin-top: 10px;
    }
}
