.resume-sidebar {
    .section{
        margin-bottom: 10px;
    }
    .card-section p{
        word-break: break-all;
    }
    &.resume-pdf {
        .left {
            width: 100%;
        }

        .right {
            width: 100%;
        }
    }
    .html2pdf__page-break{
        // box-shadow: 64px 0 0 #f3f5f3, -64px 0 0 #f3f5f3; 
    }
    .page-break-left{
        box-shadow: 17px 0 0 #f3f5f3, -64px 0 0 #f3f5f3; 
    }
    .page-break-right{
        box-shadow: 64px 0 0 #f3f5f3, -32px 0 0 #f3f5f3; 
    }
    .newpage-top{
        padding-top: 60px;
        margin-top: 0px!important;
        box-shadow: 64px 0 0 white, -64px 0 0 white;
    }
    .print-paper {
        // padding: 72px 72px 0 72px;
        // background-color: white;
        // font-family: Arial, sans-serif;
        // font-size: 12pt;
        // font-weight: normal;
        word-break: break-all
    }
    ul li{
        line-height: 16pt;
        margin-bottom: 0px;
    }
    ul{
        margin-bottom:  0px;
        margin-top: 0px;
    }
    .contact-info{
        font-weight: 500;
    }
    .name {
        font-size: 36pt;
        display: block;
        text-align: center;
        padding-bottom: 30px;
    }

    .resume-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .left {
        width: 40%;
        padding-right: 15px;
        border-right: black 2px solid;
        text-align: right;


    }

    .right {
        width: 60%;
        padding-left: 30px;
        text-align: left;

        .resume-pdf & {
            width: 100%;
        }
    }

    .header {
        font-size: 20pt;
        font-weight: bold;
    }

    .sub-header {
        font-size: 15pt;
        font-weight: bold;
        display: block;
    }

    .sub-sub-header {
        font-weight: bold;
        display: block;
    }
    .education{
        margin-top: 20px;
    }
    .skills{
        margin-top: 20px;
    }
    .summary{
        margin-top: 20px;
    }
    .workexperience{
        margin-top: 20px;
    }
}
